*{
    margin: 0; 
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

div img{
    display: block; 
    width: 100%;
}

.flex-ccontainer{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header{
   background-color: #122a57;
   height: 100px;
   display: flex;
   align-items: center; 
   color: #fff;
}

header .list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
}

.list-items li a {
    color: #fff;
}

header menu{
    justify-content: space-between;
}

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentação-apresentação h1{
    min-height: 200px;
}

.texto-apresentação a{
    background-color: #122a57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none; 
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center; 
    justify-content: space-between;
}

#quem-somos h2{
    font-size: 32px; 
    color: #122a57;
    display: flex;
}

#quem-somos h2::befora{
    content: " ";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos{
    margin-bottom: 420px;
}

.container-externo{
    background-color: #122a57;
}

.container-externo{
    background-color: #122a57;
    width: 100%;
}